html {
  height: 100%;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically if needed */
  flex-direction: row;
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  float: left;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/* Navigation alignment */
.navigation {
  padding: 30px;
  text-align: center;
}

section {
  text-align: center; 
}

/* styling for Hi! I'm Pete Thinkful */
.intro {
  margin-left: 250px;
  flex: 1;
  padding-top: 20px;
}

/* Pete's history as an artist */
.background {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

/* Pete's list of interests */
.list {
  display: inline-block;
  text-align: left;
}

.about-pete {
  text-align: left;
  margin-left: 250px;
}

/* Project container */

.project-name {
  flex: 1;
  text-align:center;
}

.project-description {
  flex: 1;
  display: inline-block;
  text-align: center;
  width: 150px;
}

.flex-box {
  display: flex;
  justify-content: space-evenly;
}

.contact{
  margin-right: 350px;
  display: inline-block;
}
